body{
	padding-right:0px;
	padding-left:0px;
	background:#222828;
/*set size bg*/
}
html {
overflow-x: hidden;
overflow-y: scroll;
}
.box{
    width: 100%;
	display:flex;
	flex-direction:column;
    justify-content:center;
}
header{
	width:100%;
	height: 600px;
	display:flex;
	flex-direction:column;
	height: 200px;
	font-size: 20px;
	}
main{
    display:flex;
    width: 100%;
    height: 3000px;
    flex-direction:column;
    margin-top: 505px;
    align-items:center;
    background: #222828;
     font-family: 'Mulish', sans-serif;
}
main h2{
    font-size: 36px;
    color:white;
}

/*@media screen and (max-width:1285px) {
    .sect1_info{
        
    }
}*/
.teanism1{
display:none;
}
.teanism2{
display:none;
}
.teanism3{
display:none;
}
.teanism4{
display:none;
}
.teanism5{
display:none;
}
.teanism6{
display:none;
}
.section_1{
    display:flex;
    width:100%;
    height: 300px;
    flex-direction:row;
    margin-top: 100px;
}
.sect1_info{
    display:flex;
    width:33%;
    height: 550px;
    flex-direction:column;
    background:#3c3c3c;
    padding-left: 150px;
    padding-top: 150px;
     margin-left: 100px;
}
.sect1_info a{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    color:#fff;
    width:177px;
    height:46.6px;
    text-align:center;
    display: block;
    padding-top:10px;
    left:20px;
    top: 30px;
    position:relative;
    transition: transform 0.6s;
}
.sect1_img{
    display:flex;
    width: 50%;
    min-height: 520px;
    margin-left: -50px;
    margin-top: 40px;
    background:url("img/teanism1.webp");
    background-size: cover;

}
.section_2{
    display:flex;
    width:100%;
    height: 300px;
    flex-direction:row;
    margin-top: 400px;
    margin-left: 100px;

}
.section4{
    display:flex;
    width: 100%;
    height:600px;
    flex-direction:row;
    margin-top:450px;

}
.sectionik_1{
    display:flex;
    width: 40%;
    height:750px;
    flex-direction:column;
    margin-left: 155px;
    align-items:center;
}
.sectionik_2{
    display:flex;
    width: 40%;
    height:900px;
    flex-direction:column;
    margin-left: 40px;
    align-items:center;
}
.sect5_info{
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction:column;
    margin-top: -400px;
    margin-left: 150px;

}

.sect5_info a{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    width:177px;
    height:46.6px;
    text-align:center;
    display: block;
    padding-top:10px;
    left:120px;
    top: 120px;
    position:relative;
    transition: transform 0.6s;
    color:#fff;
}
.sect5_info h2{
    margin-left: 110px;
}


    .sect5_img{
        height: 550px;
        width:100%;
        background:url("img/teanism_6.jpg");
        background-size:cover;
    }
    .sect6_img{
        height: 550px;
        width:100%;
        background:url("img/teanism8.jpg");
        background-size:cover;
    }

    .sect6_info{
    display: flex;
    width: 40%;
    height: 500px;
    flex-direction:column;
    margin-top: -400px;
    margin-left: 150px;

}

.sect6_info a{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    width:177px;
    height:46.6px;
    text-align:center;
    display: block;
    padding-top:10px;
    left:-80px;
    top: 105px;
    position:relative;
    transition: transform 0.6s;
    color:#fff;
}
.sect6_info h2{
    margin-left: -85px;
    margin-top: 10px;
}
.sect2_info{
    display:flex;
    width:33%;
    height: 550px;
    flex-direction:column;
    background:#3c3c3c;
     margin-left: -40px;
    padding-left: 150px;
    padding-top: 150px; 
    z-index:0;
}
.sect2_info a{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #fff;
    color:#fff;
    width:177px;
    height:46.6px;
    text-align:center;
    display: block;
    padding-top:10px;
    left:20px;
    top: 30px;
    position:relative;
    transition: transform 0.6s;
}
.sect2_img{
    display:flex;
    width: 50%;
    height: 510px;
     margin-left: 50px;
     background:url("img/teanism2.jpg");
     background-size:cover;
    z-index:1;

}
.sect2_info p{
    font-size: 26px;
    color:#fff;
}
.sect2_info a:hover{
     transform: scale(1.15);
    background:#4D8FC3;
}
.sect1_info a:hover{
     transform: scale(1.15);
    background:#4D8FC3;
}
.sect3_info a:hover{
     transform: scale(1.15);
    background:#b0d3bf;
}
.sect5_info a:hover{
     transform: scale(1.15);
    background:#b0d3bf;
}
.sect6_info a:hover{
     transform: scale(1.15);
    background:#b0d3bf;
}

.section_3{
    display:flex;
    width:100%;
    height: 300px;
    flex-direction:column;
    margin-top: 320px;
    margin-left: 100px;
}
.section_3 img{
    width: 96%;
    margin-left: -20px;
    background:none;

}

.sect3_info{
    width: 30%;
    height: 200px;
    margin-top: -620px;
    margin-left: 150px;

}
.sect3_img{
    width: 95%;
    height: 700px;
    background:url("img/teanism3.jpg");
    background-size:cover;
    margin-left: -10px;
    opacity:0.2;
    background-repeat: no-repeat;
}
.sect3_info h2{
    margin-left: 10px;
    color:#FF6933;
    }
.sect3_info a{
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #888201;
    width:177px;
    height:46.6px;
    text-align:center;
    display: block;
    padding-top:10px;
    left:20px;
    top: 30px;
    position:relative;
    transition: transform 0.6s;
    color:#888201;
    margin-top:30px;
    opacity:1;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 120px;
  display:flex;
  flex-direction:row;
  width:100%;
  display:flex;
  align-items:center;
  font-size: 20px;
  /*background:#B5C6B8;*/
  justify-content:space-around;
  position:fixed;
  z-index:99;
  font-weight:bold;
}
.navigation li {
}

.navigation li:hover {
  background: #222;
}

.navigation li:first-child {
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 0 0 5px;
}

.navigation li a {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 40px;
  columns: #adcacd;;
}

.navigation ul {
  display: none;
  position: absolute;
  list-style: none;
  margin-left: -3px;
  padding: 0;
  overflow: hidden;
  z-index:1;
}

.navigation ul li {
  float: none;
}
.navigation li:hover > ul {
  display: block;
  background: #222;
   z-index:1;
  
  
}


.navigation li li a:hover {
  background: #000;
}

.head{
	margin-top: 20px;
}

footer{
    width:100%;
    height: 450px;
    background-size:cover;
    color:white;
    display:flex;
    margin-top: -100px;
    flex-direction:column;
    font-family: 'Playfair Display', serif;
    flex-wrap:wrap;
    background:#222828;
    }
    footer img{
        width: 112px;
        height:112px;
    }
    footer hr{
        margin-top: 40px;
    }
    .foot1{
        width:100%;
        height: 120px;  
        display:flex;
        margin-top: 50px;
        flex-wrap:wrap;
    }
    .foot-bio{
        display:flex;
        width: 90%;
        flex-direction:row;
        height: 50px;
        justify-content:flex-end;
        flex-wrap:wrap;
    }
    .foot2{
        width:97%;
        height: 50px;
        display:flex;
        flex-direction:row;
    flex-wrap:wrap;
        margin-top: -59px;
        justify-content:flex-end;
    }
footer h2{
        font-family: 'Mulish', sans-serif;
        text-align:center;
        flex-wrap:wrap;
    }
.foot-soc_icon{
    display:flex;
    width: 100%;
    height: 40px;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin-top: 30px;
    flex-wrap:wrap;
}
.foot-soc_icon img{
    width: 76px;
    height: 76px;
    margin-left: 60px;
}
.foot-soc_icon img:hover{
    transform: scale(1.15);
}
.head{
    display:flex;
    width: 100%;
    height: 800px;
    flex-direction:column;
}


.slr {
    position: relative;
    width: 100%;
    height: 710px;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -20px;

}
.slr ul {
    list-style:none;
    margin-left:0;
    padding-left:0;
}
#sls .sl {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
}
#sls .sl .sl-text {
    position: absolute;
    margin: 70px 30px;
    bottom: 0;
    z-index: 2;
    padding: 20px;
    background:rgba(0,0,0,0.4);
    transform: translateY(200%);
    transition: all 400ms ease-in-out;
}
#sls .sl.sl-active .sl-text {
    transform: translateY(0);
    transition-delay: 0.3s;
}
#sls .sl .sl-text .sl-title {
    font-size: 26px;
    line-height: 30px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;    
    margin-bottom: 20px;
}
#sls .sl .sl-text .sl-data {
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    margin-bottom: 20px;    
}
#sls .sl .sl-text .sl-read {
    display: inline-flex;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', sans-serif;
    cursor: pointer; 
}
#sls .sl .sl-text .sl-read:hover,
#sls .sl .sl-text .sl-read:active,
#sls .sl .sl-text .sl-read:focus {
    color: #FFF;
}
#sls .sl .sl-text .sl-read:after,
#sls .sl .sl-text .sl-read:before {
    position: absolute;
    height: 4px;
    left: 50%;
    bottom: -8px;
    content: "";
    transition: all 280ms ease-in-out;
    width: 0;
}
#sls .sl .sl-text .sl-read:before {
    top: -8px;
}
#sls .sl .sl-text .sl-read:hover:after,
#sls .sl .sl-text .sl-read:hover:before,
#sls .sl .sl-text .sl-read:active:after,
#sls .sl .sl-text .sl-read:active:before,
#sls .sl .sl-text .sl-read:focus:after,
#sls .sl .sl-text .sl-read:focus:before {
    width: 100%;
    left: 0;
}
#sls .sl .sl-partial {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform 1s ease-in-out;
}
#sls .sl .sl-partial img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}
#sls .sl .sl-left {
    top: 0;
    left: 0;
    transform: translateX(-100%);
    clip-path: polygon(0 0, 2% 0, 100% 98%, 100% 100%, 0 100%);
}
#sls .sl .sl-left img {
    top: 0;
    right: 0;
}
#sls .sl .sl-right {
    top: 0;
    right: 0;
    transform: translateX(100%);
    clip-path: polygon(0 2%, 0 0, 100% 0, 100% 100%, 98% 100%);
}
#sls .sl .sl-right img {
    top: 0;
    left: 0;
}
#sls .sl.sl-active .sl-partial, 
#sls .sl.sl-active .sl-partial img {
    transform: translateX(0);
}
.slr .sl-btn {
    position: absolute;
    bottom: 40px;
    right: 140px;
    z-index: 100;
    height: 50px;
    width: 50px;
    z-index: 98;
    cursor: pointer;
    overflow: visible;
}
.slr .sl-btn.sl-next {
    right: 50px;    
}
.slr .sl-btn polygon, 
.slr .sl-btn path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FFF;
}
.slr .sl-btn:hover polygon, 
.slr .sl-btn:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #FFF;
}
.slr .sl-btn:hover .sl-btn-pl {
    animation: sl-btn-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.slr .sl-btn:hover .sl-btn-pl-fixed {
    animation: sl-btn-fixed-anim 1s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.sl-select {
    position: absolute;
    bottom: 0;
    left: 40px;
    z-index: 98;
    display: flex;
}
.sl-select li {
    position: relative;
    cursor: pointer;
    margin: 0 8px;
}
.sl-select .selector {
    height: 24px;
    width: 24px;
    border: 2px solid white;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
}
.sl-select .selector.sl-current {
    background-color: #BFE2FF;
}
@keyframes sl-btn-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes sl-btn-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}    
@media screen and (max-width:767px) {
    #sls .sl .sl-text {
        position: absolute;
        width: 100%;
        margin: 70px 0;
        bottom: 0;
        z-index: 2;
        padding: 20px;
    }
    #sls .sl .sl-text .sl-title {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    #sls .sl .sl-text .sl-data {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;    
    }
}

@media screen and (max-width:1300px) and (min-width:1130px) {
    .sect1_info{
        width:28%;
        max-height:450px;

    }
    .sect1_info h2, .sect1_info a{
        margin-left: -80px;
    }
    .sect1_info h2{
        margin-left:-58px;
    }
   .sect1_img{
        
        margin-left: -10px;
        background:none;
    }
    .teanism1{
        display:block;
       width:100%;
       max-height:450px;
    }
.sect1_info h2{
        font-size:30px;
    }
    .sect2_img{
        
     background:none;
    }
    .teanism2{
        display:block;
       width:100%;
       max-height:450px;
    }
    .sect2_info{
        width:28%;
        max-height:470px;

    }
.sect2_info h2,.sect2_info p{
        margin-left: -80px;
    
    }
    .sect2_info h2{
        font-size:30px;
    }
    .sect2_info p{
        font-size: 25px;
    }
    .sect2_info a{
        margin-left: -80px;
}
.section_2{
    margin-top: 300px;
}
.sect3_img{
     background:none;
     margin-left: 25px;
    }
    .teanism3{
        display:block;
       width:100%;
       max-height:500px;
    }
.sect5_img{
        
     background:none;
     margin-left: -40px;
    }
    .teanism5{
        display:block;
       width:100%;
       height:470px;
    }
    .sect6_img{
        
     background:none;
    }
    .teanism6{
        display:block;
       width:100%;
        height: 470px;
      /* max-height:500px;
       min-height:487px;*/
    }
    .section4{
        margin-left: -100px;
        margin-top: 300px;
    }
    .sect5_info{
        width:60%;
        display:flex;
        height: 160px;
        align-items:center; 
        margin-left:-60px;

         }
         .sect5_info a {
            margin-left:-240px;
         }
         .sect5_info h2 {
            margin-left:-10px;
         }
         .sect6_info{
        width:60%;
        display:flex;
        height: 240px;
        align-items:center; 
        margin-left: -40px;
        margin-top: -450px;

         }
         .sect6_info a {
            margin-left: 90px;
            margin-top: -5px;
         }
         .sect6_info h2 {
            margin-left: -55px;
            margin-top: 60px;
         }
         footer{
            margin-top: -450px;
         }

}
    @media screen and (max-width:980px) and (min-width:740px) {
            main{
        height:6000px;

       }
       .section_1{
            flex-direction:column;
            height: 1000px;
            align-items:center;
            margin-left: -50px;
       }
       .sect1_info{
        width: 65%;
       align-items:center;
       justify-content:center;
       padding:0;
       }
       .sect1_info a{
        margin-left:-20px;
       }
     .sect1_img{
        min-width:70%;
        margin-left: 100px;
        margin-top: -150px;
       background-size: contain;
       background-repeat: no-repeat;
   }
       
.section_2{
            flex-direction:column;
            height: 1000px;
            align-items:center;
            margin-left: -50px;
            margin-top:30px;
       }
       .sect2_info{
        width: 65%;
       align-items:center;
       justify-content:center;
       padding:0;
       margin-left: 100px;
       margin-top: -180px;
       }
       .sect2_info a{
        margin-left:-20px;
       }
     .sect2_img{
        min-width:70%;
        margin-left: 100px;
        margin-top: -150px;
       background-size: contain;
       background-repeat: no-repeat;
   }
  .sect3_img{
        width:95%;
        margin-top: -500px;
        margin-left: -30px;
       background-size: contain;
       background-repeat: no-repeat;

   }
   .sect3_info{
    margin-left: 200px;
   }
   .sect3_info h2{
    font-size:30px;
    margin-left: 10px;
   }
   .sect3_info a{
    font-size: 15px;
    margin-left: -10px;
    margin-top: 20px;
   }

   .section4{
    flex-direction:column;
    margin-top: -300px;
    margin-left: 250px;
    padding-top: 100px;

   }
   .sectionik_1{
    margin-left:160px;
    margin-top: 30px;
    width: 60%;
   }
   .sectionik_2{
    margin-left:160px;
    margin-top: 350px;
    width: 60%;
   }
   .sect5_info h2{
    margin-left: 80px;
    margin-top: 40px;
}
.sect5_info a{
    margin-left: -20px;
    margin-top: -0px;
}
.sect6_info h2{
    margin-left: -60px;
    margin-top: 0px;
}
.sect6_info a{
    margin-left: 20px;
    margin-top: -40px;
}
.sect5_img{
    background-size: contain;
       background-repeat: no-repeat;
}
.sect6_img{
    background-size: contain;
       background-repeat: no-repeat;
       margin-left: -100px;
       max-width:550px;
}
.section_3{
    margin-top: 500px;
}
footer{
    margin-top: -300px;
    height: 350px;
}
footer h2{
    font-size: 28px;
}
footer p{
    font-size: 15px;
}
.foot-bio{
    margin-left: 70px;
}
.foot1{
    margin-top: 10px;
}
}
 @media screen and (max-width:1130px) and (min-width:980px) {
            main{
        height:6000px;

       }
       .section_1{
            flex-direction:column;
            height: 1000px;
            align-items:center;
            margin-left: -50px;
       }
       .sect1_info{
        width: 65%;
       align-items:center;
       justify-content:center;
       padding:0;
       }
       .sect1_info a{
        margin-left:-20px;
       }
     .sect1_img{
        min-width:70%;
        margin-left: 100px;
        margin-top: -150px;
       background-size: contain;
       background-repeat: no-repeat;
   }
       
.section_2{
            flex-direction:column;
            height: 1000px;
            align-items:center;
            margin-left: -50px;
            margin-top:90px;
       }
       .sect2_info{
        width: 65%;
       align-items:center;
       justify-content:center;
       padding:0;
       margin-left: 100px;
       margin-top: -180px;
       }
       .sect2_info a{
        margin-left:-20px;
       }
     .sect2_img{
        min-width:70%;
        margin-left: 100px;
        margin-top: -150px;
       background-size: contain;
       background-repeat: no-repeat;
   }
  .sect3_img{
        width:95%;
        margin-top: -500px;
        margin-left: -30px;
       background-size: contain;
       background-repeat: no-repeat;

   }
   .sect3_info{
    margin-left: 200px;
   }
   .sect3_info h2{
    font-size:30px;
    margin-left: 10px;
   }
   .sect3_info a{
    font-size: 15px;
    margin-left: -10px;
    margin-top: 20px;
   }

   .section4{
    flex-direction:column;
    margin-top: -300px;
    margin-left: 250px;
    padding-top: 100px;

   }
   .sectionik_1{
    margin-left:160px;
    margin-top: 30px;
    width: 60%;
   }
   .sectionik_2{
    margin-left:160px;
    margin-top: 350px;
    width: 60%;
   }
   .sect5_info h2{
    margin-left: 80px;
    margin-top: 40px;
}
.sect5_info a{
    margin-left: -20px;
    margin-top: -0px;
}
.sect6_info h2{
    margin-left: -60px;
    margin-top: 0px;
}
.sect6_info a{
    margin-left: 20px;
    margin-top: -40px;
}
.sect5_img{
    background-size: contain;
       background-repeat: no-repeat;
}
.sect6_img{
    background-size: contain;
       background-repeat: no-repeat;
       margin-left: -100px;
       max-width:550px;
}
.section_3{
    margin-top: 500px;
}
footer{
    margin-top: -300px;
    height: 350px;
}
footer h2{
    font-size: 28px;
}
footer p{
    font-size: 15px;
}
.foot-bio{
    margin-left: 70px;
}
.foot1{
    margin-top: 10px;
}
}






/*@media screen and (max-width:750px) and (min-width:600px) {
        .section_1{
            flex-direction:column;
            height: 1000px;
            align-items:center;
            margin-left: -50px;
       }
       .sect1_info{
        width: 60%;
        height: 400px;
       align-items:center;
       justify-content:center;
       padding:0;
       }
       .sect1_info a{
        margin-left:-30px;
       }
    .sect1_img{
        min-width:70%;
        margin-left: 100px;
        margin-top: -50px;
        background:none;
       }
    
    }*/
/*@media screen and (max-width:950px) and (min-width:750px) {
            main{
        height:4000px;

       }
       .section_1{
            flex-direction:column;
            height: 1000px;
            align-items:center;
            margin-left: -50px;
       }
       .sect1_info{
        width: 60%;
       align-items:center;
       justify-content:center;
       padding:0;
       }
       .sect1_info a{
        margin-left:-20px;
       }
       .sect1_img{
        min-width:60%;
        margin-left: 100px;
        margin-top: -150px;
       }



}*/



